{{#if answer.length }}
<table class='table mt-3'>
    <thead>
        <tr>
            <th class="align-middle" scope="col">ID</th>
            <th class="align-middle" scope="col">Gusto</th>
            <th class="align-middle" scope="col">Precio</th>
            <th class="align-middle" scope="col">Imagen</th>
        </tr>
    </thead>
    {{#each answer}}
        <thead>
            <tr>
                <td class="align-middle" scope="row">{{id}}</td>
                <td class="align-middle">{{gusto}}</td>
                <td class="align-middle">${{precio}}</td>
                <td class="align-middle"><img src='{{img}}' alt='imagen del producto' style="width: 100px"/></td>
            </tr>
        </thead>
    {{/each}}
</table>
{{else}}
<h1>No se encontraron productos.</h1>
{{/if}}

<button> <a href="/"> Ir al formulario </a> </button>